<section class="content">

  <!-- Default box -->
  <div class="card card-solid">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-6">
          <h3 class="d-inline-block d-sm-none">LOWA Men’s Renegade GTX Mid Hiking Boots Review</h3>
          <div class="col-12">
            <img src="{{product.imagePath}}" class="product-image" alt="Product Image">
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <h3 class="my-3">{{product.name}}</h3>
          <p>{{product.description}}</p>

          <hr>

          <div class="bg-gray py-2 px-3 mt-4">
            <h2 class="mb-0">
              R$ {{product.price}}
            </h2>
          </div>

          <div class="py-2 px-3 mt-4">
            <h2 class="mb-0">
                <input type="number" class="form-control" placeholder="Quantidade" [(ngModel)]="quantity">
            </h2>
          </div>

          <div class="mt-4">
            <a>
              <div class="btn btn-primary btn-lg btn-flat" (click)="addToCart(product)">
                <i class="fas fa-cart-plus fa-lg mr-2"></i> 
                Adicionar ao carrinho
              </div>
            </a>
          </div>

        </div>
      </div>
      
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

</section>