<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img src="assets/img/AdminLTELogo.png"
         alt="AdminLTE Logo"
         class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">Cantina FUMEC</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{{user.photoUrl}}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
    <a href="#" class="d-block">{{user.name}}</a>
        <a href="mailto:{{user.email}}?Subject=Olá {{user.name}}!" class="text-sm d-block">
          {{user.email}}
        </a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview" *ngIf="user.settingsUser.type=='admin'">
          <a routerLink="/dashboard" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
              <!-- <i class="right fas fa-angle-left"></i> -->
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview" *ngIf="user.settingsUser.type=='admin'">
          <a routerLink="/categorias" class="nav-link">
            <i class="nav-icon fas fad fa-sitemap"></i>
            <p>
              Categorias
              <span class="badge badge-info right">{{categoryLength}}</span>
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview" *ngIf="user.settingsUser.type=='admin'">
          <a routerLink="/categorias" class="nav-link">
            <i class="nav-icon fas fad fa-tags"></i>
            <p>
              Produtos
              <span class="badge badge-info right">{{productLength}}</span>
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview" *ngIf="user.settingsUser.type=='admin'">
          <a routerLink="/usuarios" class="nav-link">
            <i class="nav-icon fas fa-users text-info"></i>
            <p>
              Usuários
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview" *ngIf="user.settingsUser.type=='client'">
          <a routerLink="/loja" class="nav-link">
            <i class="nav-icon fas fa-store text-info"></i>
            <p>
              Loja
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview" *ngIf="user.settingsUser.type=='client'">
          <a routerLink="/compras" class="nav-link">
            <i class="nav-icon fas fa-shopping-bag text-info"></i>
            <p>
              Minhas compras
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview" (click)="logout()">
          <a routerLink="" class="nav-link">
            <i class="nav-icon fas fa-power-off text-danger"></i>
            <p>
              Sair
            </p>
          </a>
        </li>
        
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>