<div class="row">
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
      <div class="inner">
        <h3>{{categoryLength}}</h3>

        <p>Total Categorias</p>
      </div>
      <div class="icon">
        <i class="fas fad fa-sitemap"></i>
      </div>
      <a routerLink="/categorias" class="small-box-footer">Ver Cadastro <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
      <div class="inner">
        <h3>{{productLength}}</h3>

        <p>Total Produtos</p>
      </div>
      <div class="icon">
        <i class="fas fad fa-tags"></i>
      </div>
      <a routerLink="/categorias" class="small-box-footer">Ver Cadastro <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>{{userLength}}</h3>

        <p>User Registrations</p>
      </div>
      <div class="icon">
        <i class="ion ion-person-add"></i>
      </div>
      <a routerLink="/usuarios" class="small-box-footer">Ver Cadastro <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
</div>